.button {
    width: 200px;
    padding: 15px;
    border-radius: 25px;
    margin: 97px;
    color: white;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
}

.modal__close-btn{
    position: absolute;
    right: 12px;
    top: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    background-color: rgba(23, 22, 22, 0.453);
    cursor: pointer;

    svg{
        display: block;
        margin: 0 auto;
    }

}

.modal__btn{
        background-color: rgba(23, 22, 22, 0.453);
        width: 130px;
        height: 25px;
        color: white;
border: 0;
        border-radius: 5px;
        margin: 15px;
        cursor: pointer;
}