.modal-background{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;

}
.modalData{
    text-align: center;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 30%;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255, 0.15);
    transform: translate(-50%, -50%);
    overflow: hidden;

    .close {
        color: black;
        float: right;
        cursor: pointer;
        font-size: 50px;
        font-weight: bold;
      }
      
      .close:hover,
      .close:focus {
        color: white;
        text-decoration: none;
        cursor: pointer;
      }

      .modal-header {
         padding: 2px 16px;
         background-color: rgba(23, 22, 22, 0.453);
        color: white;
        text-align: start;
      }
      
      .modal__btn{
        background-color: rgba(23, 22, 22, 0.453);
        width: 130px;
        height: 25px;
        color: white;
        margin-right: 20px;
    }
        

    &__content-container{
        padding-top: 20px;
        width: 80%;
        margin: 0 auto;
        p{
            color: white;
            margin-top: 10px;
        }
        h3{
            color: white;
            margin-bottom: 10px;
        }
.button-block{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 10px auto;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);   
    color: white;    
}
 }
}